*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Microsoft YaHei", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
